<aside class="sidebar" *ngIf="currentUser">
  <nav>
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">🏠 Accueil</a>
      </li>

       <li *ngIf="isAdmin()">
        <a routerLink="/admin/users" routerLinkActive="active">👤 Gérer les utilisateurs</a>
      </li>

      <li *ngIf="isParametreur()">
        <a routerLink="/postes" routerLinkActive="active">⚙️ Postes</a>
      </li>
      
      <li *ngIf="isParametreur()">
        <a routerLink="/lignes" routerLinkActive="active">🛠️ Lignes de production</a>
      </li> 
      <li *ngIf="isParametreur()">
        <a routerLink="/produits" routerLinkActive="active">📦 Produits</a>
      </li>
      <li *ngIf="isParametreur()">
        <a routerLink="/applications" routerLinkActive="active">💻 Applications</a>
      </li>
      <li *ngIf="isParametreur()">
        <a routerLink="/operations" routerLinkActive="active">🔁 Opérations</a>
      </li>
      <li *ngIf="isParametreur()">
        <a routerLink="/ordres" routerLinkActive="active">📋 Ordres de fabrication</a>
      </li>

     


    </ul>
  </nav>
</aside>
